<div class="card-wrapper">

    <mat-card class="example-card">
      <img mat-card-image style="width: 500px;" src="https://images.macrumors.com/t/hi1_a2IdFGRGMsJ0x31SdD_IcRk=/1600x/article-new/2018/05/apple-music-note.jpg" alt="Angular Logo">
      
      <br>
      <mat-card-content>
        <p>
          {{song.artist.name}} - {{song.name}}
        </p>
        
        <div>
          <button mat-icon-button matSuffix (click)="getPreviousSong()">
            <mat-icon>fast_rewind</mat-icon>

        </button>
           

            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'pause' : 'play_arrow'}}</mat-icon>
            </button>
            
            <button mat-icon-button matSuffix (click)="getNextSong()">
              <mat-icon>fast_forward</mat-icon>

          </button>
          
        </div>
      
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button matSuffix (click)="pressLikeButton()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{like ? 'favorite' : 'favorite_border'}}</mat-icon>
          </button>
      </mat-card-actions>
    </mat-card>
  
  </div>