<div class="login-main">
  <mat-card class="login-form">
    <form [formGroup]="loginForm">
      <br>
      <mat-card-title>Log in</mat-card-title>
      <br>
      <br>
      <br>
      <mat-card-content>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter your username</mat-label>
            <input matInput formControlName = username required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName = password required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <br>
        <br>
      </mat-card-content>
      <button mat-raised-button color="primary" (click)="login()"  [disabled]="loginForm.invalid">
        Login
      </button>
      <br><br>
      <button mat-raised-button color="primary" (click)="createAccount()" >
        Create Account
      </button>
    </form>
  </mat-card>
</div>